@model bucket_games.Models.Hra

@{
	ViewData["Title"] = @Html.DisplayFor(model => model.Název);
}

<h1>@Html.DisplayFor(model => model.Název)</h1>

<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Datum)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Datum)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Žánr)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Žánr)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Cena)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Cena)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Fotka)
		</dt>
		<dd class="col-sm-10">
			<img src="@Html.DisplayFor(model => model.Fotka)" alt="obrázek hry" style="height:444px; width:444px;">
		</dd>
	</dl>
</div>

<div>
	<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
