@model bucket_games.Models.HraŽánrViewModel

@{
	ViewData["Title"] = "Hry";
}

<h1>Naše hry</h1>

<form asp-controller="Hra" asp-action="Index" method="get">
	<p>
		<select asp-for="HerníŽánr" asp-items="Model.Žánry">
			<option value="">Vše</option>
		</select>

		 Název: <input type="text" asp-for="Vyhledávání" />
		<input type="submit" value="Hledat" />
	</p>
</form>

<p>
	<a asp-action="Create">Vytvořit novou hru</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Hry[0].Název)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Hry[0].Datum)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Hry[0].Žánr)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Hry[0].Cena)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Hry)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Název)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Datum)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Žánr)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Cena)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Upravit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Detail</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Smazat</a>
				</td>
			</tr>
		}
	</tbody>
</table>
