@model Game

<div class="card">
    <div>
        <a asp-controller="Game" asp-action="Details" asp-route-gameId="@Model.id"> <img class="img-thumbnail" src="@Model.Img" alt="thumbnail" /></a>
       
        <div class="thumbnail">
            <h3>
                <a asp-controller="Game" asp-action="Details" asp-route-gameId="@Model.id">@Model.Title</a>
            </h3>
            <h4>Price: $@Model.Price.ToString()</h4>
            <p>@Model.ShortDesc</p>
        </div>
        <div>
            <p class="button">
                <a id="cardButton" class="tlacitko2" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-gameId="@Model.id">
                    Add To Cart
                </a>
            </p>
        </div>

    </div>
</div> 